
.sidebar-first > .region-sidebar-first {
  @include medium {
    width: 95%;
    padding: 0;
  } 
}
.region-sidebar-first {
  padding: 0;

  #block-bean-campaign-promotion,
  #block-bean-campaign-page-promotion {
    box-sizing: border-box;
    margin-bottom: 0;
    margin-top: 1.5em;
    padding-bottom: em(16);
    padding-left: em(8);
    padding-right: em(8);
    width: 100%;
    img {
      @include box-shadow(0 3px 5px $gray);
      background: $white;
      border-radius: em(8);
      box-sizing: border-box;
      padding: em(3);
      width: 100%;
    }
    .field-name-field-promo-text p {
      box-sizing: border-box;
      font-size: em(14);
      line-height: 1.2;
      margin: 0;
      padding: em(10) em(25);
      text-align: center;
      width: 100%;
    }
    .clearfix:after {
      content: "";
    }
  }

}
