.page-redhen-campaign #highlighted {
  position: relative;
  margin-top: 1em;
  max-height: 300px;
  @include box-shadow(0 2px 5px $gray);
  
  #block-bean-campaign-banner {
    margin-bottom: 0; 
    img {
      width: 100%;
    }
  }

  h2 {
    left: 0.5em;
    position: absolute; 
    top: 4em;
    z-index: 1;

    a { color: $white; }
  }

  .field-name-field-teaser {
    background: rgba(0,0,0,0.6);
    bottom: 0;
    color: $white;
    font-size: 1.2em;
    padding: 1em 1em 0;
    position: absolute;
    height: 150px;
    width: 40%;

    .field-item {
      margin-top: 3em; 
    }
  }

  .redhen_campaign_page_donate,
  .field-type-redhen-donation {
    position: absolute; 
    bottom: 2em;
    right: 1em;
    z-index: 2;

    a { @include cta-btn; }
  }
}
