.view-campaign-pages {

  .form-radios .form-item {
    @include clear-btn;
    cursor: pointer;
    display: inline-block;
    input {
      display: none;
    }
    label {
      cursor: pointer;
    }
    &.checked {
      background: $primary;
      border: 3px solid $primary + 50;
      color: $white;
    }
  }

  .views-row {
    @include medium {
      display: inline-block;
      float: left;
      margin-bottom: 2em;
      margin-right: 2%;
      min-height: em(300);
      padding: 1em 0;
      position: relative;
      width: 31.33333%;
      &:nth-child(3n+4) {
        clear: both;
      }
    }

    @include box-shadow(0 3px 5px $gray);
    background: $white;
    border-radius: 8px;
    margin-bottom: 1em;
    padding-bottom: 2em;
    padding-top: 1em;

    h2 {
     font-size: em(18);
     line-height: 1em;
     margin-top: 0;
     padding: 0 1em;
     text-align: left;

      a { color: $primary; }
    }
    .redhen_campaign_page_team {
      padding-left: em(16);
      margin-top: em(8);
      line-height: 1;
      .field-label {
        width: 22%;
      }
      .field-items {
        width: 78%;
      }
    }
    .field-name-redhen-campaign-goal {
      color: $primary;
      font-size: em(22);
      line-height: 1.6;
      padding-left: em(10);
      .rhc_progress {
        display: inline;
        font-size: em(16);
      }
    }

    .redhen-contact-contact {
      display: block;
      padding: 0 1em;
      text-align: center;

      img {
        border-radius: em(8);
        border: 3px solid $white;
        @include box-shadow(0 3px 5px $gray);
        width: 97%;
      }

    }

    .redhen_campaign_page_campaign,
    .redhen_campaign_page_title {
      font-size: em(16);
      margin-left: 1em;
      width: 80%;
    }


    .redhen-campaign-page-team {
      .field-name-field-logo {
        margin: 0 em(8) em(8) em(16);
        img {
          border-radius: em(8);
          border: 3px solid $white;
          @include box-shadow(0 3px 5px $gray);
          width: 97%;
        }
      }

    }

    .clearfix:after {
      display: block !important;
    }
  }
}
