.page-redhen-campaign #highlighted {
  @include box-shadow(0 2px 5px $gray);
  margin-top: 1em;
  position: relative;

  @include medium {
    max-height: 300px;
  }

  #block-bean-campaign-context-banner {
    margin-bottom: 0;
  }

  #block-bean-campaign-page-banner,
  #block-bean-campaign-context-banner,
  #block-bean-campaign-banner {
    margin-bottom: 0;
    img {
      width: 100%;
    }
  }

  .redhen_campaign_title,
  .redhen-campaign-general h2,
  .redhen_campaign_page_campaign {
    @include text-shadow(0 2px 5px $black);
    color: $white;
    display: block;
    font-family: $raiser-heading-font;
    font-size: em(32);
    left: em(11);
    line-height: 1.2em;
    position: absolute;
    top: 2em;
    z-index: 3;

    a { color: $white; }

    @include small {
      top: em(100);
    }

    @include medium {
      color: $white;
      top: em(80);
    }
  }

  .redhen-campaign-general h2 {
    top: 4em;
    max-width: 38%;
    line-height: em(18);
  }

  h2 {
    display: none;
  }

  .field-name-field-teaser {
    margin-bottom: 1em;
    max-width: none;
    padding: 1em;

    @include small {
      background: rgba(0,0,0,0.6);
      color: $white;
      padding: 1em;
      position: absolute;
      bottom: 8em;
    }

    @include medium {
      background: rgba(0,0,0,0.6);
      bottom: 0;
      color: $white;
      font-size: 1.2em;
      height: 150px;
      padding: 1em 1em 0;
      position: absolute;
      min-width: 50%;
      margin-bottom: 0;
      max-width: 60%;

      .field-item {
        margin-top: 3em;
      }
    }

  }

  .redhen_campaign_page_donate,
  .field-type-redhen-donation {
    padding: 1em;

    a {
      @include cta-btn;
      display: block;
      margin-bottom: 1em;
      text-align: center;
    }

    @include medium {
      bottom: 2em;
      margin-bottom: 0;
      position: absolute;
      right: 1em;
      width: auto;
      z-index: 2;

      a {
        margin-bottom: 0;
      }
    }

  }
}
