.redhen-campaign-page-team {
  .field-name-field-logo {
    float: left;
    margin-bottom: 1em;
    margin-right: 1em;

    img {
      border-radius: 8px;
    }
  }

  .redhen_campaign_page_campaign {
    width: 75%;
  }

  .redhen_campaign_page_title {
    float: left;
    font-size: em(16);
    width: 75%;
  }

  .redhen_campaign_page_team {
    display: block;
    float: left;
    font-size: em(14);
    width: 75%;
  }

  .redhen_campaign_page_campaign {
    font-size: em(14);
  }

  .field-label {
    font-weight: normal;
  }

  .clearfix:after {
    display: inline !important;
  }
}
@include xsmall {
  .redhen-campaign-page-team {
    .redhen_campaign_page_title,
    .redhen_campaign_page_team,
    .redhen_campaign_page_campaign {
      width: 100%;
    }
  }
}
