.front {
  #block-views-campaigns-block {
    padding: 1em;

    h2.block-title { 
      margin-bottom: 2em; 
      text-align: center; 
    }
    
    .views-row {
      @include medium {
        display: inline-block;
        margin-bottom: 2em;
        min-height: em(300);
        width: 31.33333%;  
        float: left;
        margin-right: 2%;
        padding: 1em 0;
      } 

      background: $white;
      border-radius: 8px;
      @include box-shadow(0 3px 5px $gray);
      margin-bottom: 1em;
      padding-top: 1em;
      padding-bottom: 2em;

      h2 {
       text-align: left; 
       font-size: em(18);
       line-height: 1em;
       margin-top: 0;
       padding: 0 1em;

        a { color: $primary; }
      }

      .field-name-field-banner-image {
        margin-bottom: 1em;
        padding: 0 1em; 
        text-align: center;

        img {
          border-radius: em(8);
          border: 3px solid $white;
          @include box-shadow(0 3px 5px $gray);
        }
      }

      .field-name-redhen-campaign-goal {
        color: $black;
        font-size: em(16);
      }



      .rhc_progress {
        display: inline; 
        font-size: em(16);
        color: $action;
      }

    }
  }
}

