#block-views-campaign-donors-block,
#block-views-campaign-page-donors-block {
  @include box-shadow(0 3px 5px $gray);
  @include rasier-table;
  background: $white;
  padding: 2em 1em;
  td {
    font-size: em(16);
    padding: em(7) em(10) em(5) em(10);
    vertical-align: top;

    &.views-field-full-name {
      width: 23%; 
    }
    &.views-field-expression {
      width: 10%;
    }
    &.views-field-field-donation-comment {
      width: 66%; 
    }
  }
}
