.page-fundraise {
  a[href="/cafb-dc/redhen_campaign/add/general"] {
    @include cta-btn
  }
}

.page-redhen-campaign-add-general,
.page-redhen-campaign-page-add {

  h2#page-title {
    display: block;
  }

  legend {
    color: $black;
    font-size: 1.25em;
  }

  fieldset {
    border: none;
    padding-left: 0;
  }

  .fieldset-description {
    @include box-shadow(0 3px 5px $gray);
    background: $lt-gray;
    display: none;
    padding: em(16);
    position: absolute;
    right: em(0);
    margin-top: em(-56);
    width: zen-grid-item-width(3);
    @include medium {
      display: block;
    }

    .fieldset-description-title {
      display: block;
      font-size: 1.2em;
      margin-bottom: em(16);
      margin-top: em(8);
    }
  }

  .filter-wrapper, .filter-help {
    float: none;
    margin: 0;
    padding: 0;
  }

  .field-name-redhen-campaign-goal {
    padding-left: 0;

    label {
      color: $black;
      font-size: em(14);
    }

    .field-prefix {
      background: $gray;
      display: none;
    }

    .description {
      color: $black;
      font-size: em(12);
    }

    input { font-size: em(14); }
  }


  .container-inline-date {
    .date-padding {
      padding: 0;
    }
  }

  .field-type-datetime {
    @include zen-grid-item(6,1);
    margin-left: 0;
    &#edit-field-end-date {
      @include zen-grid-item(6,1,right);
      margin-top: 0;
    }
    label {
      color: $black;
      font-size: em(16);
    }

    .description {
      color: black;
    }

    input { font-size: 16px; }
  }

  a.button {
    @include appearance(none);
  }

}
