#block-views-leaderboard-block {
  clear: both;
}

.page-campaigns-leaderboard {
  table {
    width: 100%;
    @include box-shadow(0 2px 3px $gray);
  }
  tr.odd {
    background-color: $lt-primary;
    border-bottom: none;
  }
  tr.even {
    border-bottom: none;
  }
  td {
    padding: em(5) em(10);
    text-align: left;
    font-size: em(16);
  }
  .views-field-progress:before {
    content: "$ ";
  }
  .view-content {
    margin-top: em(32);
  }
}
