#block-views-leaderboard-block {
  clear: both;
}

.page-campaigns-leaderboard {
  td {
    padding: em(5) em(10);
    text-align: left;
    font-size: em(16);
  }
  .views-field-progress:before {
    content: "$ ";
  }
  .view-content {
    margin-top: em(32);
  }
}
