.page-user-my-pages,
.page-user-orders,
.page-redhen-campaign-donations {

  .main-content-wrapper {
    width: 100%;
  }

  .views-table td,
  .sticky-table td {
    font-size: em(14);
    padding: em(5) em(8) em(3) em(8);

  }



}
