#block-redhen-raiser-campaign-updates-campaign-updates,
#block-redhen-raiser-campaign-updates-campaign-page-updates,
.view-campaign-updates {
  @include box-shadow(0 3px 5px $gray);
  background: $white;
  padding: 2em 1em;

  .node-campaign-update {
    margin-bottom: 2em;

    h2 {
      position: absolute;
      line-height: 1em;
      a {
        color: $primary;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    img {
      @include border-radius(8px);
      float: left;
      margin-top: em(45);
      margin-right: em(8);
    }

    .field-name-body {
      padding-top: 1em;
    }
  }
}
