.page-redhen-campaign,
.page-redhen-campaign-edit {

  #content {
    @include box-shadow(0 3px 5px $gray);
    background: $white;
    overflow: hidden;
    position: relative;
    .redhen_campaign_title {
      display: none;
    }
  }

  #block-bean-campaign-banner .field-label-inline {
    color: $white;
    display: block;
    font-family: $raiser-heading-font;
    font-size: em(32);
    left: em(11);
    position: absolute;
    top: em(80);
    z-index: 3;
  }

  .main-content-wrapper {
    @include zen-grid-item(12,1);

    @include medium {
      @include zen-grid-item(8,1);
    }

    background: $white;

    .page__title {
      display: none;
    }
  }

  aside {
    @include zen-grid-item(12,1);

    @include medium {
      @include zen-grid-item(4,9);
    }

    background: $lt-gray;
    height: 100%;
    position: absolute;

    .block-bean {
      border-bottom: 1px solid $white;
    }
  }

  .view-all-button,
  .redhen_campaign_join_link {
    background: $lt-gray;
    margin-bottom: 2em;
    padding: 2em 1em;
    overflow: hidden;
    .field-label {
      font-weight: normal;
      float: left;
      padding-top: em(6);
      margin-right: 2%;
      width: 48%;
    }
    a {
      @include cta-btn;
      float: right;
    }
  }
  .view-all-button {
    padding: 2em;
    text-align: center;
    a {
      margin: 0 auto;
      float: none; }
  }

  // Campaign story image
  .field-name-field-story-media {
    img { width: 100%; }
  }

  // Video style
  iframe {
    @include box-shadow(0 3px 5px $gray);
    border: 3px solid $white;
    width: 100%;
  }

  // Progress widget
  #block-bean-campaign-page-progress,
  #block-bean-campaign-progress {
    background: $primary-widget;
    color: $primary;
    left: 0;
    padding-bottom: 2em;
    margin-bottom: 0;
    padding-top: 2em;
    width: 100%;
    .field-label-inline {
      display: none;
    }

    h2 { display: none; }
  }

  #block-bean-social-media-links {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;

    .field-item {
      float: left;
    }


    a {
      background-size: 214px;
      background: url(../images/social.png) no-repeat;
      display: block;
      float: left;
      height: 45px;
      margin-right: 0.3em;
      text-indent: -9999px;
      width: 45px;

      &.twitter-link {
        background-position: 0 0;
      }
      &.facebook-link {
        background-position: -56px 0;
      }
      &.linkedin-link {
        background-position: -112px 0;
      }
      &.googleplus-link {
        background-position: -168px 0;
      }
    }
  }


  // Promo block
  #block-bean-donation-matching {
    margin-right: 1.2em;
    margin-top: 1em;

    .block-title { display: none; }

    .bean-promo {
      text-align: center;

      img {
        @include border-radius(8px);
        @include box-shadow(0 3px 5px $gray);
        border: 3px solid $white;
        width: 100%;
      }

      p {
        margin: 1em 0;
      }
    }
  }
} // end .page-redhen-campaign
