.page-redhen-campaign {

  #content {
    background: $white;
    overflow: hidden;
    padding-right: 2em;
    position: relative; 
  }
  
  .main-content-wrapper {
    @include zen-grid-item(12,1);

    @include medium {
      @include zen-grid-item(8,1); 
    } 

    background: $white;
    padding: 1em;
  }

  aside {
    @include zen-grid-item(12,1);
    
    @include medium {
      @include zen-grid-item(4,9); 
    }

    background: $lt-gray;
    margin-left: 1em;
    position: absolute;
    height: 100%;

    .region-sidebar-first {
      max-width: 90%; 
      margin: 0 auto;
      padding-top: 1em;
    }
  }
  

  iframe {
    border: 3px solid $white;
    @include box-shadow(0 3px 5px $gray);
    width: 100%; 
  }
} // end .page-redhen-campaign
