#main {
  max-width: 820px; 
  margin: 0 auto;
  padding-bottom: 3em;
}

#main #content {
  padding-bottom: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

#content-secondary {
  @include zen-clear;
}
